<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb Cluster</title>
</head>
<body> -->
    <% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">

    <h3> Create a new Listing </h3>
    <form  method="POST" action="/listings/<%= listing._id %>?_method=PUT" >

        <div class="mb-3">
          
            <label for="title"class="form-label">Title</label>
 <input  name="listing[title]" value="<%= listing.title %>" class="form-control"type="text">

</div>

<div class="mb-3">
<label for="description"class="form-label">Description</label>
<textarea name="listing[description]" class="form-control" ><%= listing.description %></textarea>
</div>
<!-- 
<div class="mb-3">
 <label for="image"class="form-label">Image Link</label>
 <input name="listing[image][fileName]" value="<%= listing.image.fileName %>" type="text"class="form-control" placeholder="Image file name"> 
<input name="listing[image][url]" value="<%= listing.image.url %>" type="text" class="form-control"placeholder="Image URL">
</div> -->
<div class="row">
    <div class="mb-3 col-12">
      <label for="image" class="form-label">Image Link</label>
      <input name="listing[image][url]" value="<%= listing.image.url %>" type="text" class="form-control"placeholder="Image URL">
    </div>
  </div>
  
<div class="row">
<div class="mb-3 col-md-4">
<label for="price"class="form-label">Price</label>
<input  name ="listing[price]"  value="<%= listing.price %>"class="form-control" type="number">
</div>
<div class="mb-3 col-md-8">
 <label for="country"class="form-label">Country</label>
<input  name ="listing[country]"  value="<%= listing.country %>"class="form-control" type="text">
</div>
</div>
<div class="mb-3">

 <label for="location"class="form-label">location</label>
 <input  name ="listing[location]"  value="<%= listing.location %>" class="form-control"type="text">
</div>
 <!-- <button  class="btn btn-dark mb-3 edit-button mt-3">Edit </button> -->
 <div class="d-flex justify-content-center">
    <button class="btn edit-button mt-3 mb-3">Edit</button>
  </div>
  
 
    </form>
</div>
</div>
<!-- </body>
</html> -->