<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb Cluster</title>
</head> -->
<% layout("/layouts/boilerplate") %>


    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3> Listing Details:</h3>
        </div>

    <div class="card col-6 offset-3 show-card" >
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image"/>
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text"><b><%= listing.title %></b> <br>
          <%= listing.description %><br>
          &#8377; <%= listing.price.toLocaleString("en-IN") %><br>
          <%= listing.location %><br>
          <%= listing.country %>
        </p>


        </div>
      </div>
    <!-- <ul>
        <li>
            <%= listing.title %>
        </li>
        <li>
            <%= listing.description %>
        </li> -->
        <!-- toLocalString ek function jo number ko string main convert krega, en-IN indian standard ke according ,'s lgayega -->
          <!--  and &#8377use to show RS -->
         <!-- <li>
            &#8377; <%= listing.price.toLocaleString("en-IN") %>
        </li> 
        <li>
            <%= listing.location %>
        </li> <li>
            <%= listing.country %>
        </li>
    </ul> -->
   

<div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-button ">Edit</a>
   
    <form  method="POST" action="/listings/ <%= listing._id%>?_method=Delete">
       <button class="btn btn-dark offset-5"> Delete </button>
    </form>
</div>
</div>
<!-- </html> --s